@layer utilities {
    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: scale(0.95);
        }

        to {
            opacity: 1;
            transform: scale(1);
        }
    }

    .animate-fadeIn {
        animation: fadeIn 0.3s ease-in-out;
    }
}

.travel-border {
    position: absolute;
    inset: 0;
    border-radius: 16px;
    padding: 2px;
    background: linear-gradient(90deg,
            transparent,
            #0f172a,
            transparent);
    background-size: 300% 300%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.group:hover .travel-border {
    opacity: 1;
    animation: borderTravel 1.8s linear forwards;
}

@keyframes borderTravel {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 300% 50%;
    }
}