@import "tailwindcss";

.trace-border {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transition: stroke-dashoffset 1.6s ease;
}

.group:hover .trace-border {
    stroke-dashoffset: 0;
}

button{
    cursor: pointer;
}